:root{
    --primarycolor: #ffffff;
    --secondarycolor: #f40b2c;
    --textcolor: #666;
    --socialmediaicon: #444;
}

#top-section-container{
    margin: 0;
    padding: 0;
}

.navbar{
    background: rgb(231, 40, 27);
}

.navbar-brand a{
    color: cornsilk;
    padding: 5px 8px;
}

.nav-item{
    padding: 5px 8px;
}

.nav-link{
    color: rgb(255, 255, 255);
}